{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Omar's Blog</h1>
            <span class="subheading">A collection of Omar's random musings.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <ul class="errors">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <li>💡{{ message }}</li>

            {% endfor %}
            {% endif %}
            {% endwith %}
          </ul>

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts: %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', index=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="{{url_for('get_all_posts')}}">{{post.user.name}}</a>
            on {{post.date}}
                 {% if current_user.id == 1: %}
            <a href="{{url_for('delete_post',index=post.id)}}">✘</a>
           {% endif %}</p>
        </div>
        <hr>
        {% endfor %}


        <!-- Pager -->
        {% if current_user.id == 1: %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('new_post')}}">Create New Posts &rarr;</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <hr>

{% include "footer.html" %}