<!DOCTYPE HTML>
<html>
<head>
	<title>Secrets</title>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
<div class="jumbotron">
	<div class="container">
		<h1>Welcome</h1>
		<p>Are you ready to discover my secret?</p>
		<a href=" {{ url_for('login') }} "><button class="btn btn-primary btn-lg" >Login</button></a>
	</div>
</div>
</body>
</html>