{%include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/fireworks.jpg')">

    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Omar's Blog</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">


        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for day in data : %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{{url_for('get_post',day=day)}}">
                    <h2 class="post-title">Day {{day}}, {{data[day]['title']}}</h2>
                    <h3 class="post-subtitle">{{data[day]['subtitle']}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">{{data[day]['author']}}</a> on {{data[day]['date']}}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" /> {% endfor %}

            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{%include "footer.html" %}