h1,
h2,
h3,
h4 {
    color: rgb(94, 92, 92);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

hr {
    background-color: white;
    border-style: none;
    height: 2px;
}