<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Omar's Blog {{title}}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
           </div>
        <div class="content">
            <div class="card">
                <h2>{{title}}</h2>
                <p>{{data}}</p>
            </div>

    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in Egypt.</p>
</footer>
</html>