html {
    background: url(images/Omar-portofolio_logo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#github {
    width: 200px;
    position: fixed;
    top: 740px;
    right: 10px;
}

#mail {
    width: 200px;
    position: fixed;
    top: 10px;
    right: 10px;
}

#linkedln {
    width: 200px;
    position: fixed;
    top: 740px;
    left: 10px;
}

#cv {
    width: 200px;
    position: fixed;
    top: 10px;
    left: 10px;
}